<div class="formularioRegistro">
    <h2>Registro de Persona</h2>
  <form [formGroup]="personaForm" (ngSubmit)="guardar()">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" formControlName="personanombre" class="form-control" />
    </div>
    <div class="form-group">
        <label>Edad</label>
        <input type="number" formControlName="personaedad" class="form-control" />
      </div>
      <div class="form-group">
        <label>E-mail</label>
        <input type="email" formControlName="personaemail" class="form-control" />
      </div>
      <button type="submit" mat-button color="accent" style="margin-top: 2%;" [disabled]="personaForm.invalid">Guardar</button>
  </form>
  
</div>
<div class="formularioRegistro">
  <h2>Lista de personas registradas</h2>
  <table class="table">
    <thead>
      <tr>
        <th>personaid</th>
        <th>personanombre</th>
        <th>personaedad</th>
        <th>personaemail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of personas">
        <td>{{item.personaid}}</td>
        <td>{{item.personanombre}}</td>
        <td>{{item.personaedad}}</td>
        <td>{{item.personaemail}}</td>
      </tr>
    </tbody>
  </table>
  
</div>
<router-outlet></router-outlet>
